.template.sub.alert.alert-dismissible.alert-info(role="alert")
    button.close(type="button" data-dismiss="alert")
        span(aria-hidden="true") &#215;
        span.sr-only Close
    div(style="white-space: pre;")
        strong.name
        span.resub

.ncg-label(style="margin-top: 0;") recent subs
#lfg-siphon_list
.btn-group.btn-group-justified
    .btn-group
        button#lfg-siphon_clearall.btn.btn-xs.btn-danger(type='button') Clear All
