:host {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.375em;
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #D3D3D3;
    background-color: transparent;
    border-radius: 0.250em;
    font-variant: normal;
}

:host.dark {
    color: #fff;
    background: rgba(0,0,0,0.3);
}

:host.light {
    color: #000;
    background: rgba(255,255,255,0.3);
}

.chat-line {
    margin-right: 0.188em;
    margin-left: 0.188em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    line-height: 1.6em;
    align-items: center;
}

.chat-line * {
    vertical-align: middle;
}

.badges {
    display: inline-flex;
}

.badge {
    display: inline-block;
    height: 1.125em;
    min-width: 1.125em;
    padding: 0;
    margin-right: 0.188em;
    margin-bottom: 0.063em;
    overflow: hidden;
    vertical-align: bottom;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-border-radius: 0.125em;
       -moz-border-radius: 0.125em;
    border-radius: 0.125em;
}

.broadcaster {
    background-color: #e71818;
    background-image: url(//www-cdn.jtvnw.net/images/xarth/badge_broadcaster.svg);
    background-size: 100%;
    order: 0;
}

.staff {
    background-color: #200f33;
    background-image: url(//www-cdn.jtvnw.net/images/xarth/badge_staff.svg);
    background-size: 100%;
    order: 1;
}

.admin {
    background-color: #faaf19;
    background-image: url(//www-cdn.jtvnw.net/images/xarth/badge_admin.svg);
    background-size: 100%;
    order: 2;
}

.global_mod {
    background-color: #0C6F20;
    background-image: url(//www-cdn.jtvnw.net/images/xarth/badge_globalmod.svg);
    background-size: 100%;
    order: 3;
}

.mod {
    background-color: #34ae0a;
    background-image: url(//www-cdn.jtvnw.net/images/xarth/badge_mod.svg);
    background-size: 100%;
    order: 4;
}

.turbo {
    background-color: #6441a5;
    background-image: url(//www-cdn.jtvnw.net/images/xarth/badge_turbo.svg);
    background-size: 100%;
    order: 5;
}

.subscriber {
    order: 6;
}

.nick {
    font-size: 0.813em;
    font-weight: bold;
    text-transform: capitalize;
}

.message {
    font-size: 0.813em;
    word-wrap: break-word;
    align-items: center;
}

.semicolon {
    font-size: 0.813em;
    margin-right: 0.2em;
}

.deleted {
    font-size: 0.813em;
}

.emoticon {
    height: 2em;
    margin-top: -0.2em;
    margin-bottom: -0.2em;
}
